/*----------------LOGIN------------*/

.login-container{
    width: 100%; 
    border-bottom: 0.1rem solid #DCDCDC;
    background-color: #f8f8f8;
}

.login-content {
    width: 100%;
    padding-top: 16rem;
    padding-bottom: 18.976rem;
}

.login-box{
    width: 36rem;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 4rem;
    padding-right: 4rem;
}

.login-box p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #272727;
    margin-bottom: 1.5rem;
    margin-top: 0;
    text-align: center;
}

.login-box label{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #272727;
}

.login-box input{
    width: 28rem;
    height: 4.5rem;
    border: 0.1rem solid #DCDCDC;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

::placeholder{
    color: #A5A5A5;
}


.second-input{
    margin-bottom: 0;
}

.first-btn, .second-btn{
    display: flex;
    color: #fff;
    background: #272727;
    width: 28rem;
    height: 5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.028rem;
    margin-top: 2rem;
}

.link{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #1A9CFF;
    margin-top: 3rem;
    display: block;
    text-align: center;
}

.second-btn{
    border: 0.1rem solid #A5A5A5;
    color: #272727;
    background: #fff;
    margin-top: 2.9rem;
}

.login-box div{
    padding-top: 2.5rem;
    padding-bottom: 3.924rem;
}