
@media only screen and (max-width: 1280px) {
    html {
      font-size: 9px;
    }
}

@media only screen and (max-width: 1180px) {
    html {
      font-size: 8px;
    }
}

@media only screen and (max-width: 1040px) {
    html {
      font-size: 7px;
    }
}

@media only screen and (max-width: 940px) {
    html {
      font-size: 6px;
    }
}

@media only screen and (max-width: 768px) {

    html {
        font-size: 10px;
    }

    .div-1110 {
        width: 100%;
    }
 
    /*-----------HEADER--------*/

    .user-li, .shopping{
        padding-bottom: 0;
    }

    .header-container,
    .header-content {
        width: 100%;
    }

    .header-mobile-menu{
        display: block;
    }

    .header-top-left{
        display: none;
    }

    .header-ul {
        display: none;
    }

    .icons-right .user-li{
        display: none;
    }

    .header-content-top {
        padding-top: 0rem;
        align-items: center;
        padding: 0rem 2rem;
        box-sizing: border-box;
        height: 8.2rem;
        width: 100%;
        padding-right: 0;
    }
 
    /*------------FOOTER---------*/

    footer{
        padding-top: 0;
        width: 100%;
    }

    .last-flex{
        flex-wrap: wrap;
    }

    .last{
        width: 100%;
        padding-top: 3.5rem;
        padding-left: 2rem;
        padding-bottom: 3.5rem;
        box-sizing: border-box;
    }

    .social-icons{
        margin-top: 2rem;
    }

    .copy {
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    .flex-container-fourth{
        width: 100%;
        flex-wrap: wrap;
        order: 2;
    } 

    .flex-container-fourth .group {
        width: 100%;
        border-top: 0.1rem solid #DCDCDC;
        box-sizing: border-box;
        padding: 3rem 2rem 1.8rem;
    }

    .group h5, .last h5{
        margin-top: 0;
    }

    /*-------------------BONUS------------*/

     .bonus-content-right{
        width: 100%;
        margin-bottom: 0;
    }

    .bonus-content{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        box-sizing: border-box;
    }
    
    .bonus-content-middle{
        width: 100%;
        box-sizing: border-box;
        margin-top: 1.5rem;
    }

    .below-p{
        width: 100%;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2.3rem;
        flex-wrap: wrap;
        display: flex;
        height: auto;
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .above-p{
        width: 100%;
        text-align: center;
    }

    .bonus-content h2 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 2.0rem;
        color: #272727;
    } 


    /*--------------ORDERS---------*/

    .orders-container{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 12rem;
        padding-top: 11.5rem;
    }

    .orders-content{
        width: 100%;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .orders-content-left{
        width: 100%;
        text-align: center;
        padding: 4rem 2rem;
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        height: auto;
    }

    .orders-container .filter {
        width: 100%;
        margin-bottom: 0;
    }

    .orders-content-right{
        width: 100%;
        margin-bottom: 0;
        box-sizing: border-box;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 2.6rem;
        padding-bottom: 6.5rem;
    }

    .content-top{
        display: block;
        margin-bottom: 2.5rem;
    }

    .content-middle-top{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 0rem;
    }

    .all-orders-div{
        width: 100%;
        position: relative;
    }

   .all-orders-title{
      width: 100%;
      margin-top: 2.4rem;
      box-sizing: border-box;
  }

  .select{
      width: 100%;
      box-sizing: border-box;
  }

  .orders-title{
      text-align: center;
  }

  .content-middle-top p{
    padding: 0rem 2rem;
    width: 100%;
    color: #272727;
    height: 4rem;
    border-bottom: 1px solid #ffffff;
    margin: 0rem;
    display: flex;
    align-items: center;
  }

  .content-middle-top, .content-middle-bottom{
    border-top: none;
  }

  .orders-container .product-img {
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 6rem;
 }

 .orders-container .product-img img {
        width: 100%;
        margin-right: 1rem;
 }

 .orders-container .product-img:nth-child(3n){
    margin-right: 0rem;
 }

 .content-middle{
    margin-bottom: 4rem;
 }

 .content-middle-bottom{
     box-sizing: border-box;
     padding-left: 2rem;
     padding-right: 2rem;
     padding-top: 4rem;
 }

    /*-------------BONUS-SECOND-----------*/

    .bonus-second-container{
        width: 100%;
        padding-bottom: 0;
    }

    .bonus-second-content{
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 3rem;
        padding-bottom: 3.8rem;
        box-sizing: border-box;
        height: auto;
    }

    .bonus-content-top{
        display: block;
        text-align: center;
    }

    .card{
        margin-top: 1rem;
    }

    .mobile-bonus-list{
        display: block;
    }

    .bonus-content-bottom table{
        display: none;
    }

    .new-bonus{
        text-align: center;
    }

    .bonus-list-item .title{
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #272727;
    }
    
    .bonus-list-item .item{
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.028rem;
        color: #272727;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .bonus-list-item .item:last-child{
        margin-bottom: 0;
    }
    
    .bonus-list-item span{
        color: #35CC62;
        font-weight: normal;
    }
    
    .bonus-list-item{
        margin-bottom: 4.6rem;
        margin-top: 4rem;
    }
    
    .bonus-list-item:last-child{
        margin-bottom: 0;
        margin-top: 0;
    }
    

    /*------------SETTINGS----------*/

    .settings-content-right{
        width: 100%;
        padding-top: 3rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 5rem;
        box-sizing: border-box;
        margin-bottom: 0rem;
    }

    .settings-content{
        width: 100%;
    }

    .settings-content p{
        text-align: center;
    }

    .settings-content form label{
        width: 100%;
   }

   .save{
       width: 100%;
   }

   /*-------------CHANGE-PASSWORD------------*/
 
   .change-password-content-right{
       width: 100%;
       padding-right: 2rem;
       padding-left: 2rem;
       padding-bottom: 5rem;
       padding-top: 3rem;
       box-sizing: border-box;
       margin-bottom: 0;
   }

   .change-password-content{
       width: 100%;
       height: auto;
   }

   .change-password-content p{
       text-align: center;
   }

   .change-password-content form label{
       width: 100%;
       margin-top: 2.5rem;
   }

   .change-password-content form label:first-child{
       margin-top: 0;
   }

   .change-password-content form{
       flex-wrap: wrap;
       width: 100%;
   }

   .change-password-content form input{
       width: 100%;
   } 

   .change-password-content-right .save {
      width: 100%;
  }


  /*--------------REGISTRATION------------*/

 
  .registration-content{
      width: 100%;
      padding-top: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
      box-sizing: border-box;
  }

  .registration-box{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem 4rem;
    box-sizing: border-box;
  }

  .registration-btn {
    width: 100%;
    margin-top: 2.5rem;
}

.upper-side label {
    width: 100%;
}

.upper-side input {
    margin-bottom: 2.5rem;
}

.warning-box{
    width: calc(100% - 4rem);
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
    height: auto;
    box-sizing: border-box;
}

.warning-box p{
    width: calc(100% - 7rem);
}

  /*------------REGISTRATION-DONE----------*/

  .registration-done-container{
      box-sizing: border-box;
      padding-bottom: 12rem;
      padding-top: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .registration-done-content{
      width: 100%;
      padding: 4rem 4rem 3.5rem;
      box-sizing: border-box;
  }

  .warning-p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-top: 3.5rem;
    padding: 0rem 1rem;
}

.registration-done-content p {
    margin-top: 2rem;
}

.settings-btn{
    width: calc(100% - 4rem);
    margin-top: 3rem;
}

.registration-done-content h2{
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-top: 2rem;
    text-align: center;
}


/*------------ORDERS-CLICK--------------*/

.orders-click-container{
    width: 100%;
}

.orders-click-content{
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 1rem;
}

.orders-info{
    margin-top: 4rem;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.main-table{
    display: none;
}

.mobile-orders-container{
    display: block;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.mobile-orders-container .title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #272727;
    border-bottom: 0.1rem solid #E7E7E7;
    padding-bottom: 1.1rem;
    margin: 0;
}

.mobile-order-item{
    display: flex;
}

.mobile-orders-container .product-data .name{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #272727;
    margin: 0;
}

.mobile-orders-container .product-data p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.028rem;
    color: #272727;
    margin: 0rem 0rem 1rem;
}

.mobile-orders-container .product-data p:nth-child(2){
    margin-top: 1rem;
}

.mobile-orders-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mobile-order-item{
    border-bottom: 0.1rem solid #E7E7E7;
    padding-bottom: 2.5rem;
    padding-top: 3rem;
    width: 100%;
}

.product-image{
    margin-right: 1.6rem;
    width: 6rem;
    height: 7.5rem;
}

.margin-div{
    margin: 0;
} 
 
.orders-content-click-bottom{
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
}

.orders-content-click-bottom .address{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

.calculation{
    width: 100%;
    margin-top: 7rem;
}

.orders-click-container .orders-info p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: normal;
}

.orders-info p span {
    display: block;
    width: 100%;
}

/*----------------HOME-PAGE-------------*/

/*-----HOME SLIDER------*/

.home-container{
    width: 100%;
    margin-top: 0;
}

.slider-remote{
    display: none;
}

.home-content{
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
}

.item-text-content {
    padding: 0rem;
    top: unset;
    margin-top: 2rem;
}

 .slider-item {
    height: 46rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.slider-item .item-image-container{
    height: 28rem;

} 

.slider-item .item-image-container img{
    height:  100%;
} 

.home-btn {
    margin: 1rem auto 0rem;
    width: 16rem;
    border: 1px solid #272727;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #272727;
}

.slider-item-title {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}
 
.new-collection-content-top {
     width: 100%;
     padding-bottom: 7rem;
 }

.new-collection-content-top .flex-container {
    flex-wrap: wrap;
    padding: 0rem 2rem;
    margin-top: 0rem;
}

.new-collection-container{
     margin-top: 2.5rem;
}

.new-collection-box {
    width: 100%;
    margin-bottom: 4rem;
}

.new-collection-box:last-child {
    margin-bottom: 0rem;
}

.new-collection-box h5 {
    margin: 2.5rem 0rem 0rem;
}

.additional-container {
    padding: 7rem 0rem 12.8rem;
}

.new-collection-content-top h2,
.additional-container h2 {
    margin: 0rem 0rem 4rem;
}

.new-collection-content-bottom {
    padding: 6rem 2rem;
}

.flex-container-second {
    flex-wrap: wrap;
}

.bottom-content-box {
    width: 100%;
    height: 28.9rem;
    margin-bottom: 2.5rem;
}

.bottom-content-box:last-child {
    margin-bottom: 0rem;
}

.bottom-content-box .content {
    bottom: 3rem;
    left: 0rem;
    width: 100%;
}

.bottom-content-box h2 {
    margin: 0rem;
    text-align: center;
}

.bottom-content-box a {
    margin: 1rem auto 0rem;
}

.bottom-content-box a {
    width: 10rem;
    height: 3rem;
}

.new-collection-content-top {
    padding-bottom: 7rem;
}

.new-collection-content-top .flex-container {
    flex-wrap: wrap;
    padding: 0rem 2rem;
    margin-top: 0rem;
}

.new-collection-box {
    width: 100%;
    margin-bottom: 4rem;
}

.new-collection-box:last-child {
    margin-bottom: 0rem;
}

.new-collection-box h5 {
    margin: 2.5rem 0rem 0rem;
}

.additional-container {
    padding-top: 7rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13rem;
}

.new-collection-content-top h2,
.additional-container h2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4rem;
}
 
.flex-container-third .additional-box img{
    width: 100%;
    height:  100%;
    object-fit: cover;
}

.flex-container-third .slick-slide div{
    width: 100%;
}

.bottom-slider{
    display: none;
}

.flex-container-third{
    width: 100%;
}
.flex-container-third .slick-list{
    padding: 0rem 3rem;
}

.flex-container-third .slick-slide{
    margin: 0rem 1rem;
}

/*----------------PRODUCTS----------------*/

.products-container{
    width: 100%;
}

.products-content-top{
    display: none;
}

.products-content-left{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.products-content {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2rem;
    margin-top: 0;
}

.zoom-left {
    display: flex;
    width: 100%;
    height: 10rem;
    order: 2;
    margin-top: 2rem;
}
 
.zoom-img-box .main-img{
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.zoom-right .zoom-right-box img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.zoom-right{
    width: 100%;
    height: auto;
}

.zoom-left .slick-slide {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.features{
    width: 100%;
}

.buy{
    width: 100%;
}
 
.similar-clothes-container{
   width: 100%;
}

.similar-clothes-container{
    width: 100%;
}
 
.similar-clothes-content{
    width: 100%;
}

.similar-clothes-content .flex{
    width:  100%;
    flex-wrap: wrap;
    justify-content: center;
}

.woman-clothes{
   width: calc(100% - 4rem);
   margin-top: 2.5rem;
}

.similar-clothes-content .additional-box{
    margin-right: 0;
}

/*---------------LOGIN------------*/

.login-container{
    width: 100%;
}

.login-content{
    box-sizing: border-box;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}

.login-box{
    width: 100%;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}

.login-box p{
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.login-box form{
    width: 100%;
}

.login-box div form input{
    width: 100%;
}

.first-btn, .second-btn{
    width: 100%;
}

 /*-------------WOMAN-COLLECION---------*/

 .woman-collection-left{
     display: none;
 }

 .woman-collection-right-top .title{
     display: none;
 }

.mobile-filter-title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    line-height: 1.7rem;
}

.woman-collection-right .mobile-filter-title{
    display: flex;
    align-items: center;
    width: 100%;
}

.mobile-filter-title img{
    margin-left: 0.4rem;
}

.woman-collection-container{
    width: 100%;
}

.woman-collection-content{
    width: 100%;
    margin-top: 2.5rem;
}

.woman-collection-right .mobile-header{
    display: block;
    text-align: center;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #272727;
}

.woman-collection-right-top{
    margin-top: 2.8rem;
    width: 100%;
}

.woman-collection-right{
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}
 
.additional-box .image-div{
    width: 100%;
    height: 53.125vw;
    overflow: hidden;
}

.additional-box .image-div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.additional-box{
    width: 28rem;
    display: block;
    text-decoration: none;
    margin-bottom: 4rem;
    width: calc(50% - 0.5rem);
}

.woman-collection-right-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
 
.pagination-container{
    width: 100%;
}

.amount{
    right: 1.5rem;
}


/*----------MOBILE-MENU----------*/

.mobile-menu-container{
    display: none;
    height: auto;
    width: 26rem;
    position: absolute;
    left: 0;
    z-index: 999;
    background-color: #fff;
}

.mobile-menu-content{
    overflow-y: scroll;
    max-height: 48rem;
}

.grey-background{
    width: 100%;
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 1;
    height: calc(100vh - 8.2rem);
    background-color: rgba(39, 39, 39, 0.6);
    display: none;
}
 
.mobile-header-icons,
.inside-menu,
.mobile-menu-ul.active-ul .mobile-menu-li.active-li,
.last-items.active-last-items,
.inside-menu-ul.active-inside-menu-ul .inside-menu-li.active-inside-menu-li .last-items.show-class,
.inside-menu-ul.active-inside-menu-ul .inside-menu-li.inside-menu-li.active-inside-menu-li,
.inside-menu-ul.active-inside-menu-ul .inside-menu-li.active-inside-menu-li .inside-div{
    display: block;
} 

.mobile-menu-container ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.menu-title a{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.04rem;
    color: #272727;
    text-decoration: none;
}

.menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.3rem;
    position: relative;
}

.inside-menu-li a{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #272727;
}

.inside-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.3rem;
    position: relative;
}

.last-items ul li a{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 4.2rem;
    text-decoration: none;
    color: #272727;
    display: block;
}

.last-items,
.inside-menu-ul,
.mobile-menu-ul.active-ul .mobile-menu-li,
.mobile-header-icons img:last-child,
.arrow-back,
.menu-title.hide-title,
.mobile-menu-li.active-li .inside-div.back.hide,
.inside-div .back{
    display: none;
}

.mobile-menu-content-bottom .first-btn, .mobile-menu-content-bottom .second-btn{
    width: 16rem;
    height: 4rem;
    margin: 0;
}

.mobile-menu-content-bottom .second-btn{
    margin-top: 1rem;
}

.choose-lang{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.04rem;
    color: #535353;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.mobile-menu-li{
    margin-bottom: 3.3rem;
    display: block;
}

.mobile-menu-ul.active-ul .mobile-menu-li.active-li .inside-menu-ul{
    display: block;
    margin-top: 0;
}
 
.border-bottom{
    border-bottom: 0.1rem solid #DCDCDC;
}
 
.mobile-menu-content-top{
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 3rem;
}

.mobile-menu-content-bottom{
    box-sizing: border-box;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 6.4rem;
}
 
.inside-menu-li{
    margin-bottom: 0rem;
}
 
.arrow-next.hide-next{
    visibility: hidden;
}
 
.arrow-back.show-back{
    display: block;
    padding-right: 2rem;
}
 
 
.inside-div.active-inside-div{
    display: block;
    margin-bottom: 0;
}

.inside-div.active-inside-div .back{
    display: block;
    padding-right: 2rem;
    position: absolute;
}

.inside-div.active-inside-div .next,
.inside-div.active-inside-div .menu-title.hide-menu-title,
.inside-menu-ul.active-inside-menu-ul .inside-menu-li .inside-div,
.mobile-menu-li.active-li .menu-title.hide-menu-title,
.child-submenu-ul{
    display: none;
}
 
.inside-div a.active-a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
 
.child-main-ul.active-child-main-ul .child-main-li.active-child-main-li .child-submenu-ul,
.child-main-ul.active-child-main-ul .child-main-li.active-child-main-li{
    display: block;
}

.submenu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.child-main-ul.active-child-main-ul .child-main-li{
    display: none;
}
 
.submenu-title.active-submenu-title{
    margin-bottom: 2rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.submenu-title.active-submenu-title > a{
    display: block;
    text-align: center;
    text-transform: uppercase;
}
 
.submenu-title.active-submenu-title .menu-back.show-menu-back{
    display: block;
    padding-right: 2rem;
    position: absolute;
}

.submenu-title.active-submenu-title .menu-next,
.inside-div.active-inside-div.hide-activity a.hide-a,
.child-main-ul .child-main-li .child-submenu-ul,
.submenu-title .menu-back{
    display: none;
}

.inside-div a{
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.04rem;
    color: #272727;
}
 
 
 
 
 


















}